In [29]:
import pandas as pd 
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data = pd.DataFrame(exam_data , index=labels)
exam_data=exam_data.dropna()
(exam_data[['name', 'score']])
exam_data.loc['k'] = ['suresh', 15.5, 1, "yes"]
exam_data.pop('attempts')
p={'success':[]}
exam_data_pro=pd.DataFrame(p)
exam_data_promax=exam_data.append(exam_data_pro,ignore_index=False)
for value in exam_data['score']:
  if value>10:
    p['success'].append(1)
  else:
    p['success'].append(0)
exam_data_promax["success"]=p['success']
exam_data_promax.to_csv('my_data.csv',index=False)
new=pd.read_csv('my_data.csv')
print(new)

        name  score qualify  success
0  Anastasia   12.5     yes        1
1       Dima    9.0      no        0
2  Katherine   16.5     yes        1
3      Emily    9.0      no        0
4    Michael   20.0     yes        1
5    Matthew   14.5     yes        1
6      Kevin    8.0      no        0
7      Jonas   19.0     yes        1
8     suresh   15.5     yes        1