In [14]:
def multiply_list(items):
    n=1
    for x in items:
        n*=x
    return n
print(multiply_list([2,3,6]))

36

In [14]:
def last(n): return n[-1]

def sort_list_last(tuples):
 return sorted (tuples,key=last)

print (sort_list_last([(2,5),(1,2),(4,4),(2,3),(2,1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [17]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = Counter(d1) + Counter(d2)
print (d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [18]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [21]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]